.color-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid silver;



  button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}